$h1-big-background-size: $font-size-h1;
$h1-small-background-size: floor(($font-size-h1/5));
$h1-background-position: floor(($h1-big-background-size/2));


$h2-big-background-size: floor(($font-size-h2/5))*5;
$h2-small-background-size: floor(($h2-big-background-size/5));
$h2-background-position: ceil(($h2-big-background-size/-2));

.brand {
    text-transform: lowercase;
}

.brand .holder {
    display: table;
       margin: 0 auto;

}

.fit-text-holder {
    float: left;

     .char1 {
        background-color: $brand-danger;
    }

    span {
        display: block;
        float: left;
        width: $h1-big-background-size;
        height: $h1-big-background-size;
    }
}

header {
    .container-fluid {
        padding: 0;
    }

    .updated {
        font-family: $font-family-sans-serif;
        margin-left: 1em;
    }

    .byline {
        font-family: $font-family-sans-serif;
        float: right;
        margin-right: 1em;
    }
}


h1, h2 {
    text-align: center;
    margin: 0;
    background-color: $brand-primary;

    padding: 0.5em 0;
    color: $body-bg;

    a {
        color: $body-bg;
        &:hover {
            color: $gray-lighter;
            text-decoration: none;
        }
        &:visited {
            color: $body-bg;
        }
    }
    line-height: 0.95em;
}

h1 {
    background-size: 1px $h1-big-background-size,
                     $h1-big-background-size 1px,
                     1px $h1-small-background-size,
                     $h1-small-background-size 1px;
    background-position: 0 $h1-background-position,
                         $h1-background-position 0,
                         0 $h1-background-position,
                         $h1-background-position 0;
    background-image: linear-gradient($body-bg-faded 2px, transparent 2px),
                      linear-gradient(90deg, $body-bg-faded 2px, transparent 2px),
                      linear-gradient($body-bg-fadest 1px, transparent 1px),
                      linear-gradient(90deg, $body-bg-fadest 1px, transparent 1px);
}

h2 {
    background-size: 1px $h2-big-background-size,
                     $h2-big-background-size 1px,
                     1px $h2-small-background-size,
                     $h2-small-background-size 1px;
    background-position: 0 $h2-background-position,
                         $h2-background-position 0,
                         0 $h2-background-position,
                         $h2-background-position 0;
    background-image: linear-gradient($body-bg-faded 2px, transparent 2px),
                      linear-gradient(90deg, $body-bg-faded 2px, transparent 2px),
                      linear-gradient($body-bg-fadest 1px, transparent 1px),
                      linear-gradient(90deg, $body-bg-fadest 1px, transparent 1px);
}

article {
    clear: both;

    p, blockquote {
        max-width: 35em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.entry-summary {
    margin: 1em 0;
    float: left;

    p {
        text-align: justify;
    }
}

.comments {
    clear: both;
}


.entry-content {
    margin: 1em 0 3em 0;
    float: left;
    width: 100%;

    p {
        text-align: justify;
    }
}

.comment-reply-title {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    padding: 0;
    margin: 0;
    border: 0;
}


/* BLOCK QUOTE */
blockquote {

}
