$h1-big-background-size: $font-size-h1;
$h1-small-background-size: floor(($font-size-h1/5));
$h1-background-position: floor(($h1-big-background-size/2));

$h2-big-background-size: floor(($font-size-h2/5))*5;
$h2-small-background-size: floor(($h2-big-background-size/5));
$h2-background-position: ceil(($h2-big-background-size/-2));

@mixin blueprint-blackground($bigSize,$smallSize,$position) {
    background-size: 1px $bigSize, $bigSize 1px, 1px $smallSize, $smallSize 1px;
    background-position: 0 $position, $position 0, 0 $position, $position 0;
    background-image: linear-gradient($body-bg-faded 2px, transparent 2px),
              linear-gradient(90deg, $body-bg-faded 2px, transparent 2px),
              linear-gradient($body-bg-fadest 1px, transparent 1px),
              linear-gradient(90deg, $body-bg-fadest 1px, transparent 1px);
    background-color: $brand-primary;
}

.brand {
    text-transform: lowercase;
    .holder {
        display: table;
        margin: 0 auto;
    }
}

.fit-text-holder {
    float: left;

     .char1 {
        background-color: $brand-danger;
    }

    span {
        display: block;
        float: left;
        width: $h1-big-background-size;
        height: $h1-big-background-size;
    }
}

header {
    .container-fluid {
        padding: 0;
    }

    .updated {
        font-family: $font-family-sans-serif;
        margin-left: 1em;
    }

    .byline {
        font-family: $font-family-sans-serif;
        float: right;
        margin-right: 1em;
    }
}


h1, h2 {
    text-align: center;
    margin: 0;

    padding: 0.5em 0;
    color: $body-bg;

    a {
        color: $body-bg;
        &:hover {
            color: $gray-lighter;
            text-decoration: none;
        }
        &:visited {
            color: $body-bg;
        }
    }
    line-height: 0.95em;
}

h1 {
    @include blueprint-blackground($h1-big-background-size, $h1-small-background-size, $h1-background-position);
}

h2 {
    @include blueprint-blackground($h2-big-background-size, $h2-small-background-size, $h2-background-position);
}

article {
    .row {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    p, blockquote {

    }
}

.comments {
    clear: both;
}

.comment-reply-title {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    padding: 0;
    margin: 0;
    border: 0;
}


/* BLOCK QUOTE */
blockquote {

}

.images-column {
    img {
        margin: 2em;
        width: 80%;
    }
}

.entry-content,
.entry-summary {

    &.has-picture {
        border-left: 1px $brand-primary dashed;
    }

    p {
        text-align: justify;
    }
}
