// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;




// Colors
$brand-primary:         hsl(206, 64%, 37%);
$brand-secondary:       hsl(50, 100%, 50%);
$brand-tertiary:        hsl( 19, 78%, 45%);

$brand-success:         hsl(90, 64%, 37%);
$brand-info:            hsl(237, 78%, 45%);
$brand-warning:         $brand-secondary;
$brand-danger:          $brand-tertiary;



$gray-base:              hsl(220, 0%, 0%);
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee




$body-bg:               hsl(220, 100%, 100%);


$font-family-sans-serif:  "Futura", Helvetica, Arial, sans-serif;
$font-family-serif:       "jubilat", Georgia, "Times New Roman", Times, serif;

$font-size-base:          18px;


$break-small: 320px;
$break-medium: 800px;
$break-large: 1200px;

$font-size-h1:            4rem;
$font-size-h2:            2.5rem;
$font-size-h3:            1.7rem;
$font-size-h4:            1.25rem;
$font-size-h5:            1rem;
$font-size-h6:            0.85rem;

$headings-font-family:    $font-family-sans-serif;
